body {
    background-color: WhiteSmoke;
}

.field {
    position: relative;
    margin-top: 50px;
    margin-left: 25px;
}

.message {
    position: relative;
    margin-top: 10px;
    margin-left: 25px;
}
